*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.nav{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav img{
    margin: 0;
    padding-left: 110px;
}

.nav .navdiv{
    display: flex;
    align-items: center;
}

.nav ul li{
    list-style: none;
    display: inline;
    padding: 25px;
    align-items: center;
    padding-top: 90px;

}

.nav a{
    text-decoration: none;
    color: #000;
}


.nav .btn{
    width: 150px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 130px;
}

.header{
    display: flex;
    background-color: rgb(24, 0, 46);
    color: #fff;
    justify-content: space-around;
}


.header img{
    width: 480px;
    height: 650px;
    margin-right: 150px;
    margin-top: 150px;
}

.header .headerdiv{
    padding-left: 120px;
}

.header .headerdiv h1{

    /* width: auto; */
    font-size: 60px;
    margin-top: 250px;
}
 
.header .headerdiv p{
    width: auto;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2;

}

.header .headerdiv .btn{
    width: 150px;
    height: 40px;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
}

.main{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 100px;
}

.main h1{
    font-size: 50px;
    padding-bottom: 80px;
}

.main hr{
    width: 10%;
    margin-bottom: 50px;
}

.main .maindiv{
    display: flex;
}

.main .maindiv .maindivdiv{
    padding-right: 40px;
}

.main .maindiv .maindivdiv img{
    width: 70px;
    margin-bottom: 40px;
}

.main .maindiv .maindivdiv p{
    line-height: 1.5;
    padding-bottom: 40px;
    padding-top: 40px;
}

.section{
    margin: 80px 120px 80px 120px;
    background-color: rgb(24, 0, 46);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section h2{
    font-size: 40px;
    padding: 40px;

}

.section .btn{
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    letter-spacing: 1px;
    margin: 40px;
}

.article{
    background-color: #ebe1e1;
    padding: 40px 120px 40px 120px;
}

.article .articlediv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.article .articlediv a{
    text-decoration: none;
    padding: 20px;
}

.article .articlediv ul li{
    display: inline;
}

.article .articlefooter{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.article .articlefooter ul li{
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

.article .articlefooter p{
    padding: 50px 0 20px 0;
}


@media only screen and (max-width: 850px) { 
    .nav{
        padding: 10px;
    }
    .navdiv ul li{
        display: none;
    }

    .nav .btn{
        display: none;
    }

    .header{
        flex-direction: column-reverse;
        align-items: center;
    }

    .header .headerdiv{
        padding-left: 0;
        align-items: center;
        text-align: center;
    }

    .header .headerdiv h1{
        margin: 100px 0 0 0;
        font-size: 40px;
    }

    .header img{
        margin: 0;
        width: 100%;
        margin-top: 80px;
    }
    .main{
        padding-right: 10px;
        padding-left: 10px;
        align-items: center;
        text-align: center;
    }

    .main hr{
        width: 80%;
        margin: 30px;
    }

    .main .maindiv{
        flex-direction: column;
    }

    .main .maindiv .maindivdiv{
        margin: 0;
        padding: 0;
    }


    .section{
        flex-direction: column;
        margin: 30px;
        text-align: center;
    }

    .article .articlediv{
        flex-direction: column;
    }

    .article .articlediv .art1{
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .articlefooter{
        flex-direction: column;
        line-height: 1.5;
    }
    .article .articlefooterp{
        text-align: center;
    }

    .article .articlediv a{
        padding: 5px;
    }


}
